.logo {
  margin-bottom: 5px;
  margin-right: 5px;
}

.navbar-brand {
    color: #136eb7;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 1.5rem;
}

.left-nav nav {
    padding: 25px 35px;
    min-width: 330px;
}

.left-nav .nav-link{
    font-size: 1.1rem;
    color: #1d242c;
}

.left-nav .nav-link.active {
    color: #136eb7;
}

.left-nav .navbar-nav i {
    margin-right: .3rem;
    font-size: .9rem;
}


.your-balance h3 {
    font-size:.9rem;
    color: #92969f;
    margin: 0;
    font-weight: normal;
}

.your-balance .tokens {
    color: #136eb7;
    font-weight: bold;
    font-size:1.2rem;
}
