.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.page-container {
  background-color: #fff;
  padding: 15px 35px;

}

.left-nav {
  box-shadow: 0 0 4px #bfc6e3;
  position: relative;
  z-index: 30;
  background: linear-gradient(169deg, rgba(248,249,253,1) 0%, rgba(247,248,252,1) 75%, rgba(208,218,231,1) 100%);
}


@media only screen and (max-width: 1280px) {
  .main-container {
    flex-direction: column;
  }
}