#root, .App {
    height: 100vh;
    font-family: XCharter-Roman;
}

h1, h2, h3, h4, h5 {
    color: #136eb7;
    font-family: XCharter-Bold;
}

p {
    font-family: XCharter-Roman;
}

span, div {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.alert {
    background: #fff !important;
    border-left-width: 8px;
}

.dropdown-item:active {
    background: #e9ecef;
}

.dropdown-item.active {
    background: #e9ecef;
}

.asset:hover {
    background: #e9ecef;
    cursor: pointer;
}

.asset.disabled:hover {
    cursor: initial;
    background: initial;
}

@font-face {
    font-family: XCharter-Roman;
    src: url("./assets/fonts/XCharter-Roman.otf") format("opentype");
}

@font-face {
    font-family: XCharter-Bold;
    font-weight: bold;
    src: url("./assets/fonts/XCharter-Bold.otf") format("opentype");
}